<form action="/posts/update">
  <input type="hidden" name="id" value="<%= post.id %>"/>
  <input type="text" name="post[header]" value="<%= post.header %>"/>
  <textarea rows="10" cols="30" name="post[content]" id=""><%= post.content %></textarea>
  <button type="submit">Update</button>
</form>