<h1>Create new post</h1>

<form action="/posts/create">
  <input type="text" name="post[header]" value=""/>
  <textarea rows="10" cols="30" name="post[content]" id=""></textarea>
  <button type="submit">Create</button>
</form>